<mk-box [isLoading]="loading" [isRemovable]="false" [isCollapsable]="false" boxColor="danger">
  <mk-box-header>APIs</mk-box-header>
  <mk-box-tools>
    <button class="btn btn-block btn-sm btn-danger" [routerLink]="['/api/create']">
      <i class="fa fa-plus"></i>&nbsp;<i class="fa fa-cube"></i>
    </button>
  </mk-box-tools>
  <mk-box-content>
    <div *ngIf="!apis.length" class="callout callout-info margin">
      <h4>No registered API!</h4>
    </div>
    <table *ngIf="apis.length" class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th style="width:10%;">Actions</th>
      </tr>
      <tr *ngFor="let api of apis">
        <td>{{ api.name }}</td>
        <td>{{ api.description }}</td>
        <td>
          <!--<a [routerLink]="['/edit', api._id]" class="btn btn-table btn-primary" style="margin-right: 5px;"><i class="fa fa-edit"></i></a>-->
          <a (click)="deleteAPI(api._id)" class="btn btn-table btn-danger"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
    </table>
  </mk-box-content>
</mk-box>