<ng2-slim-loading-bar color="white"></ng2-slim-loading-bar>

<!--<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="database" class="nav-link" routerLinkActive="active">
          Databases
        </a>
      </li> 
      <li class="nav-item">
        <a routerLink="database/create" class="nav-link" routerLinkActive="active">
          Create Database
        </a>
      </li>
    </ul>
  </div>
</nav>
-->

<mk-layout-wrapper>
  <mk-layout-header [isSidebarLeftToggle]="true" [isSidebarRightToggle]="false" [logoLink]="['/', 'boxs', 'info-box']" >
    <mk-layout-header-logo><i style="margin-right: 5px;" class="fa fa-database"></i>ope<b>now</b></mk-layout-header-logo>
    <mk-layout-header-logo-mini><b>open</b></mk-layout-header-logo-mini>
  </mk-layout-header>
  <mk-layout-sidebar-left>
  </mk-layout-sidebar-left>
  <mk-layout-sidebar-right>
    //Custom HTML
  </mk-layout-sidebar-right>
  <mk-layout-content>
    <router-outlet></router-outlet>
  </mk-layout-content>
  <mk-layout-footer>
  </mk-layout-footer>
</mk-layout-wrapper>